/* layout styles */
.header h1 {
  margin-bottom: 0;
  color: #fff;
}

.main {
  padding: 1.5rem 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
}


/* common styles */
.mb-1 {
  margin-bottom: 1rem;
}


/* override ant design styles */
.ant-layout-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.ant-card-body {
  height: 120px;
}

.ant-skeleton-title {
  margin-top: .5rem !important;
}