/* layout styles */
.header h1 {
  margin-bottom: 0;
  color: #fff;
}

.main {
  padding: 1.5rem 50px 94px 50px;
  min-height: calc(100vh - 134px);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* common styles */
.mb-1 {
  margin-bottom: 1rem;
}


/* override ant design styles */
.ant-layout-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #001529;
  color: #fff;
}

.ant-card-body {
  height: 125px;
}

.ant-card-meta {
  height: 100%;
  overflow: hidden;
}

.ant-card-meta-description {
  height: 44px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ant-skeleton-title {
  margin-top: .5rem !important;
}


/* styles for different breakpoints */
@media (max-width: 768px) {
  .ant-layout-header, .main, .ant-layout-footer {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}

@media (max-width: 576px) {
  .ant-layout-header, .main, .ant-layout-footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main {
    padding-top: 1rem;
    padding-bottom: 86px;
  }

  .create-note {
    width: 100%;
  }

  .ant-form-item {
    margin-bottom: 1rem;
  }
}